body {
  position: relative;

  min-width: 320px;

  background: #FFFFFF;
}

h2 {
  margin-bottom: 35px;

  text-align: center;

  font-family: 'Prata', serif;
  font-size: 36px;
}

.works {
  overflow: hidden;

  width: 320px;
}

.works .location {
  margin-bottom: 35px;

  text-align: center;
}

.works img {
  width: 160px;
}

figcaption {
  font-family: 'Prata', serif;
  font-size: 24px;
}

figcaption2 {
  font-family: 'Prata', serif;
  font-size: 14px;
}
