body {
  position: relative;

  min-width: 320px;
  height: 819px;

  background: #FFFFFF;
}

.works {
  overflow: hidden;

  width: 320px;
}

.works .location {
  margin-bottom: 40px;

  text-align: center;
}

.works img {
  width: 160px;
}
